.Layout{
    position: relative;
    overflow-y: hidden;
}
.Layout>div{
    display: flex;
}
.Layout-nav-container{
    width: 20rem;
    height: 100%;
    border: 1px solid red; 
    
    /* height: 100svh;
    position: absolute;
    top: 0%; */
}
.Layout-body-container{
    width: 100%;
}

@media (max-width:800px) {
    .Layout-nav-container{
        display: none; 
    }
    
}