.Layout{
    position: relative;
}
.Layout>div{
    overflow-y: hidden;
    display: flex;
    /* height: 100svh; */
}

/* .Layout-nav-container{
    width: 20rem;
    height: 100%;
    border: 1px solid red; 
    
    height: 100svh;
    position: absolute;
    top: 0%; 
} */


@media (max-width:800px) {
    .Layout-nav-container{
        display: none; 
    }
    
} 