.Card2{
    display: flex;
    gap: .5rem;

}
.Card2>div:nth-of-type(1){
    width: 45%;
}
.Card2>div:nth-of-type(1)>img{
    width: 100%;
    border-radius: 5px;
}
.Card2>div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: .2rem;
}
.Card2>div:nth-of-type(2)>h3{
    font-size: 13px;
}
.Card2>div:nth-of-type(2)>p:nth-of-type(1),
.Card2>div:nth-of-type(2)>p:nth-of-type(2){
    color: #aaaaaa;
    font-size: 12px;
}
@media (max-width:800px) {
    
}