.Card2{
    display: flex;
    gap: .5rem;

}
.Card2>div:nth-of-type(1){
    width: 45%;
}
.Card2>div:nth-of-type(1)>img{
    width: 100%;
    border-radius: 5px;
}
.Card2>div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: .4rem;
}
.Card2>div:nth-of-type(2)>h2{
    font-weight: bolder;
}
.Card2>div:nth-of-type(2)>p:nth-of-type(2),
.Card2>div:nth-of-type(2)>p:nth-of-type(3){
    color: #aaaaaa;
}
@media (max-width:800px) {
    
}