.nav-btn{
    padding: 10px 7px;
    display: flex;
    gap: .7rem;
    /* background-color: black; */
    border-radius: 10px;
}
.nav-btn:hover{
    background-color: var(--background-secondary-color);

}
.nav-btn>i{
    font-size: 18px;
}
.active{
    background-color: var(--background-secondary-color);

}