.Nav{
    height: 100svh;
    width: 18rem;
    transition: 500ms all;
    overflow-y: auto;
}
.nav-container{
    padding: 5px;
}

.nav-dummy-btn{
    display: flex;
    align-items: center;
    padding:10px 7px;
    cursor: pointer;
    border-radius: 10px;
}
.nav-dummy-btn:hover{
    background-color: var(--background-secondary-color);

}
.nav-dummy-btn>svg, .nav-dummy-btn>i{
    width: 20px;
}
.nav-dummy-btn>span{
    /* margin-bottom: 5px;
    margin-top: 5px; */
    margin-left: 5px;

}
@media (max-width:800px) {
    .Nav{
        background-color: #070707;
        position: absolute;
        left: -800px;
        width: 14rem;  
        z-index: 3;
        height: 100svh;
    }
    
}
